In [3]:
# mysql - python   pymysql

!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import numpy as np
import plotly.graph_objects as go
import math
import pymysql
pd.set_option("display.max_column", None)

In [2]:
# make sure to create your database before hand

dbcon = pymysql.connect(host="localhost", user="root", password="mysql", database="breast_cancer_db")

In [3]:
dbcon

In [4]:
# loading data
pd.read_sql_query(""" select * from breast_cancer where diagnosis='B' """, dbcon, parse_dates=True)

C:\Users\rivil\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
0,B,13.540,14.36,87.46,566.3,0.09779
1,B,13.080,15.71,85.63,520.0,0.10750
2,B,9.504,12.44,60.34,273.9,0.10240
3,B,13.030,18.42,82.61,523.8,0.08983
4,B,8.196,16.84,51.71,201.9,0.08600
...,...,...,...,...,...,...
352,B,14.590,22.68,96.39,657.1,0.08473
353,B,11.510,23.93,74.52,403.5,0.09261
354,B,14.050,27.15,91.38,600.4,0.09929
355,B,11.200,29.37,70.67,386.0,0.07449
356,B,7.760,24.54,47.92,181.0,0.05263

In [5]:
diagnose="B"

In [6]:
# load with variable
df = pd.read_sql_query(""" select * from breast_cancer where diagnosis='"""+diagnose+"""' """, dbcon, parse_dates=True)
df

C:\Users\rivil\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
0,B,13.540,14.36,87.46,566.3,0.09779
1,B,13.080,15.71,85.63,520.0,0.10750
2,B,9.504,12.44,60.34,273.9,0.10240
3,B,13.030,18.42,82.61,523.8,0.08983
4,B,8.196,16.84,51.71,201.9,0.08600
...,...,...,...,...,...,...
352,B,14.590,22.68,96.39,657.1,0.08473
353,B,11.510,23.93,74.52,403.5,0.09261
354,B,14.050,27.15,91.38,600.4,0.09929
355,B,11.200,29.37,70.67,386.0,0.07449
356,B,7.760,24.54,47.92,181.0,0.05263

In [24]:
# load entire query variable
df = pd.read_sql_query(""" select * from breast_cancer """, dbcon, parse_dates=True)
df

C:\Users\rivil\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
0,M,17.99,10.38,122.80,1001.0,0.11840
1,M,20.57,17.77,132.90,1326.0,0.08474
2,M,19.69,21.25,130.00,1203.0,0.10960
3,M,11.42,20.38,77.58,386.1,0.14250
4,M,20.29,14.34,135.10,1297.0,0.10030
...,...,...,...,...,...,...
564,M,21.56,22.39,142.00,1479.0,0.11100
565,M,20.13,28.25,131.20,1261.0,0.09780
566,M,16.60,28.08,108.30,858.1,0.08455
567,M,20.60,29.33,140.10,1265.0,0.11780
568,B,7.76,24.54,47.92,181.0,0.05263

In [25]:
df[df["diagnosis"] == "M"]

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
0,M,17.99,10.38,122.80,1001.0,0.11840
1,M,20.57,17.77,132.90,1326.0,0.08474
2,M,19.69,21.25,130.00,1203.0,0.10960
3,M,11.42,20.38,77.58,386.1,0.14250
4,M,20.29,14.34,135.10,1297.0,0.10030
...,...,...,...,...,...,...
563,M,20.92,25.09,143.00,1347.0,0.10990
564,M,21.56,22.39,142.00,1479.0,0.11100
565,M,20.13,28.25,131.20,1261.0,0.09780
566,M,16.60,28.08,108.30,858.1,0.08455
567,M,20.60,29.33,140.10,1265.0,0.11780

In [26]:
map_dict={"M":0,"B":1}
df["diagnosis"] = df["diagnosis"].map(map_dict)
df

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
0,0,17.99,10.38,122.80,1001.0,0.11840
1,0,20.57,17.77,132.90,1326.0,0.08474
2,0,19.69,21.25,130.00,1203.0,0.10960
3,0,11.42,20.38,77.58,386.1,0.14250
4,0,20.29,14.34,135.10,1297.0,0.10030
...,...,...,...,...,...,...
564,0,21.56,22.39,142.00,1479.0,0.11100
565,0,20.13,28.25,131.20,1261.0,0.09780
566,0,16.60,28.08,108.30,858.1,0.08455
567,0,20.60,29.33,140.10,1265.0,0.11780
568,1,7.76,24.54,47.92,181.0,0.05263

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   diagnosis        569 non-null    int64
 1   radius_mean      569 non-null    float64
 2   texture_mean     569 non-null    float64
 3   perimeter_mean   569 non-null    float64
 4   area_mean        569 non-null    float64
 5   smoothness_mean  569 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 26.8 KB

In [33]:
df.describe()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,0.627417,14.127292,19.289649,91.969033,654.889104,0.096360
std,0.483918,3.524049,4.301036,24.298981,351.914129,0.014064
min,0.000000,6.981000,9.710000,43.790000,143.500000,0.052630
25%,0.000000,11.700000,16.170000,75.170000,420.300000,0.086370
50%,1.000000,13.370000,18.840000,86.240000,551.100000,0.095870
75%,1.000000,15.780000,21.800000,104.100000,782.700000,0.105300
max,1.000000,28.110000,39.280000,188.500000,2501.000000,0.163400

In [ ]:


con = pymysql.connect('localhost', 'user7',
    's$cret', 'testdb')

try:

    with con.cursor() as cur:

        cur.execute('SELECT VERSION()')

        version = cur.fetchone()

        print(f'Database version: {version[0]}')

finally:

    con.close()

In [ ]:
try:
    dbcon = pymysql.connect(host="localhost", user="root", password="mysql", database="breast_cancer_db")

except pymysql.error.OperationalError as e:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cnx.close()